# See runners details:
# https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#preinstalled-software

name: CI

on:
  push:
    branches: ["main", "development"]
  pull_request:

jobs:
  Library-stub:
    name: "Ubuntu-24.04 (profile: ${{ matrix.conan_profile }}, build_type: ${{ matrix.build_type }})"
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        conan_profile:
          - ubu-gcc-14
          - ubu-clang-18
        build_type:
          - Release
          - Debug
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set UB & Address Sanitizer settings if necessary
        run: |
          if [[ "${{ matrix.build_type }}" == "Debug" && "${{ matrix.conan_profile }}" == "ubu-gcc-14" ]]; then
            echo "JACOBI_CONAN_PROFILE=${{ matrix.conan_profile }}-ubasan" >> $GITHUB_ENV
            echo "ACTIVATE UB & ADDRESS SANITIZER"
          else
            echo "JACOBI_CONAN_PROFILE=${{ matrix.conan_profile }}" >> $GITHUB_ENV
          fi

      - name: Prepare env (for clang)
        shell: bash
        if: matrix.conan_profile == 'ubu-clang-18'
        run: |
          sudo apt-get -qy install \
            libc++-18-dev libc++abi-18-dev llvm-18

      - name: Prepare env
        shell: bash
        run: |
          pip install --user conan==2.* "protobuf>=6,<7"
          conan profile detect
          conan config install . -sf conan_profiles -tf profiles

      - name: Run conan install
        shell: bash
        run: |
          conan install . \
             -pr:a $JACOBI_CONAN_PROFILE \
             -s:a build_type=${{ matrix.build_type }} \
             --build missing \
             -of _build

      - name: CMake configure
        shell: bash
        run: |
          source ./_build/conanbuild.sh
          cmake -B_build . \
            -DCMAKE_TOOLCHAIN_FILE=_build/conan_toolchain.cmake \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DOPIO_TEST_PREFIX=${{ matrix.build_type }}_${JACOBI_CONAN_PROFILE}_

      - name: CMake build
        shell: bash
        run: |
          cmake --build _build -j $(nproc) --verbose

      - name: Run ctest
        shell: bash
        run: |
          ctest -T test --timeout 60 --output-on-failure --test-dir _build
